* {
    margin: 0;
    padding: 0;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-image: url("header-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#header {
    background-color: #b2b8b5;

}
nav {
    display: flex;
    position: relative;
    justify-content: center;
    line-height: 10vh;

}

.logo-body {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    
    
}

@media screen and (max-width: 768px) {
    nav ul {
        margin-top: 10vh;
        flex-direction: column;
        align-items: center;
        
    }

    
}


.logo {
    padding: 10px;
    height: 10vh;
    
}
.logo-desc {
    padding: 10px;
    color: #547b6b;
    
}

nav ul {
    list-style: none;
    font-size: 5vh;
    display: flex;
}

nav li {
    padding: 10px;
    
}
nav li a {
    text-decoration: none;
    color: #547b6b;
    text-align: center;
}

header ul {
    list-style: none;
    font-size: 10vh;
    padding: 15vh 0 15vh 0;
    
}

header li {
    padding: 10px;
    

}

header li a {
    text-decoration: none;
    color: #547b6b;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    text-align: center;
    

}
header li a:hover,
nav li a:hover {
    color: white;
    transition: all ease .4s;
    background-color: #547b6b;
    border-radius: 5px;
    
}

.social-links {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    
    
}

@media screen and (max-width: 768px) {
    .social-links {
        display: none;
        
    }
    .logo-desc {
        display: none;
    }
    
}

.social {
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;

}

.social:hover {
    transition: all ease .4s;
    background-color: #547b6b;
}
main {
    
    background-color: #b2b8b5;
}

.hello {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    text-align: center;
    
}

.hello h1 {
    color: #547b6b;
}

.hello h2 {
    color: #547b6b;
}

.hello a {
    
    text-decoration: none;
    background-color: #547b6b;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    font-size: 20px;
    margin: 10px;

}

.hello a:hover {
    color: #547b6b;
    background-color: #c3c9c6;
    transition: all ease .4s;
}






.cloth-cards,
.brands-cards {
    display: flex;
    justify-content: center;
}

.cloth-card,
.brand-card {
    width: 20%;
    text-align: center;
    color: #547b6b;
    background-color: #e0dcdc;
    border-radius: 7px;
    margin: 1vh;
    padding: 1vh;
}


@media screen and (max-width: 768px) {
    .cloth-cards,
    .brands-cards {
        flex-direction: column;
        align-items: center;
    }

    .cloth-card,
    .brand-card {
        width: 90%;
    }
}

.brand-card {
    display: flex;
    justify-content: center;
}

.cloth-card img,
.brand-card img {
    width: 100%;
}

.cloth-card p,
.brand-card p {
    color: black;
}

.price {
    display: flex;
    justify-content: flex-end;
    position: relative;
    
}

.price p {
    color: #547b6b;
    padding: 2vh;
    font-size: 20px;
}

.price button {
    color: #e0dcdc;
    background-color: #547b6b;
    border: none;
    border-radius: 3px;
    padding: 0 15px 0 15px;
    font-size: 20px;
    cursor: pointer;
}

.price button:hover {
    background-color: #c3c9c6;
    color: #547b6b;
    transition: all ease .4s;
}


main h1 {
    color: #547b6b;
    padding-top: 1vh;
    text-align: center;
    
}





.about {
    display: flex;
    justify-content: center;
    padding: 1vh;
    
}

@media screen and (max-width: 768px) {
    .about ul {
        display: none;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 1vh;
    background-color: #e0dcdc;
    border-radius: 7px;
}

.designer {
    margin: 1vh;
    text-align: center;
    color: #547b6b;
    
}

.nevo-logo {
    margin: 1vh;
    
    
    
}

.about img {
    border-radius: 7px;
}

.social-2 {
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    margin: 8px;
    padding: 10px;
    cursor: pointer;

}

.social-2:hover {
    transform: scale(1.1);
    transition: all ease .4s;
    background-color: #547b6b;
}

.points-img {
    height: 45vh;
    width: 20vw;
}

.about ul {
    list-style: none;
}

.points-img:hover {
    transform: scale(1.01);
    transition: all ease .4s;
}

@media screen and (max-width: 768px) {
    .points-img {
        width: 100%;
        
    }

    .designer {
        width: 80%;
    }
    
}


.footer-nav {
    display: flex;
    justify-content: center;
    background-color: #b2b8b5;
}

.footer-about {
   
    color: #237539;
    background-color: #b2b8b5;
    
}


.footer-about {
    display: flex;
    justify-content: center;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer {
    line-height: 50px;
}

.footer-nav a {
    color: #237539;
    text-decoration: none;
    padding: 1vh
}

.footer-nav a:hover {
    color: #547b6b;
    transition: all ease .4s;
}

.footer-about a {
    padding-right: 1vh;
}

.footer-about a {
    text-decoration: none;
    color: #237539;
}

.footer-about a:hover {
    color: #237539;
    transition: all ease .4s;
}

@media screen and (max-width: 768px) {
    .footer-nav ul {
        flex-wrap: wrap;
    }
}